$primary: #000033;
$secondary: #008000;
$error: #ff3333;
$info: #ffff00;
// color pallette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": #000033,
  "green": #008000,
  "red": #ff3333,
  "yellow": #ffff00,
  "grey": grey,
  "black": black,
  "white": white,
);
.test-btn {
  background-color: map-get($colors, "black");
}

// spacing
$base-border-thickness: 1px;
$base-margin: 0.75rem;
$base-border-padding: 0.75rem;
$base-border-radius: 20px;
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
$base-font-size: 1rem;
$base-padding: 0.75rem;
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xlg: $base-font-size * 2;
$font-size-xxlg: $base-font-size * 3;
